/* src/components/professors.css */

.professors-container {
    margin: 10px;
    padding: 15px;
    text-align: left;
  }
  
  .professors-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .form-container {
    width: 100%;
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .professors-list {
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
  }
  
  .form-container input {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    width: 70%;
  }
  
  .form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    align-self: right;
    cursor: pointer;
    flex: 0;
    width: 70%;
  }
  
  .form-container select {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    width: 90%;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .professors-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .professors-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .professors-list span {
    flex: 1;
  }
  
  .professors-list button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .professors-list button:hover {
    background-color: #c82333;
  }
  
  .professors-list button:first-child {
    background-color: #28a745;
  }
  
  .professors-list button:first-child:hover {
    background-color: #218838;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust spacing as needed */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 200px; /* Adjust width as needed */
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-container button:first-child {
    margin-right: 10px;
  }