/* Login Interface*/
body{
    background: linear-gradient(to right, #023044, #023044, #084762);
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    border-radius: 4px;
    color: white;
    border-bottom: 5px solid darkred;
    background-color: linear-gradient(to right, #bdc8cd, #9cacb2, #d1dce1);
    color: white;
}



#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1{
    color: #0a4a65;
    text-align: center;
}

#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: darkred;
    border: none;
}

.profile-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10%;
    padding: 10px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100%;
    margin-bottom: 100px;
    margin-top: -5px;
    
} 

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.input-control {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control .error{
    color: #ff3860;
    font-weight: bold;
    height: 5px;
}


/* Profesor Page */
#bodyprof{
    background: linear-gradient();
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.child-content{
    flex : 10;
    margin: 0 10px;
}

.child-content img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}

.prof-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    height: 60px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
  #prof-header {
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  
  #prof-header .left-buttons {
    display: flex;
  }
  
  #prof-header .right-buttons {
    display: flex;
  }

  #prof-header button {
    background-color: #126b91;
    color: white;
    padding: 10px 70px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;

  }
  
  #prof-header button:hover {
    background-color: #203a43;
  }
  

#prof-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    height: 50px;
    margin-top: 130px;
}

#prof-footer button {
    background-color: #126b91;
    color: white;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-right: 15px;
    margin-left: 15px;
    transition: background-color 0.3s;

  }
  #prof-footer button:hover {
    background-color: #203a43;
  }

div.div-demo{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 2px;
    display: table;
    /* border: 1px solid gray; */
    flex-direction: row;
    width: 97%;
    height: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

div.div-demo span{
    text-align: center;
    display: table-cell;
    
}

#course-select{
    width: 500px;
    height: 25px;
    font-size: 18px;
}

#academic-select{
  width: 230px;
  height: 30px;
  font-size: 18px;
}


#start-time{
    height: 25px;
    width: 250px;
    text-align: right;
}

#accepted-delay{
    height: 25px;
    width: 100px;
    text-align: right;
}

#academic-year{
    height: 25px;
    width: 200px;
    text-align: right;
}

/* Table */
.child-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
  }
  
  .child-content th,
  .child-content td {
    padding: 10px;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
  }
  
  .child-content th {
    background-color: #126b91;
  }
  
  #report-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
    height: 50px;
    margin-top: 130px;
}
#report-footer button {
    background-color: #126b91;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 150px;
    transition: background-color 0.3s;


  }
#report-footer label{ 
    font-size: 18px;
    margin-right: 100px;
    color: white;
    text-align: 'center';
  }
  #report-footer button:hover {
    background-color: #203a43;
  }


   /* Student Info */
.student-info {
  width: 55%;
  margin: 20px auto;
  padding: 30px;
  margin-top: 150px;
  background-color: #07638b;
  border-radius: 4px;
  font-size: 14px;
  color: white;
}

.student-info label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.student-info input {
  width: calc(100% - 20px);
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.student-picture-frame {
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07638b;
}

.student-picture-frame img {
  max-width: 100%;
  max-height: 100%;
}

.student-picture-frame .placeholder {
  color: #203a43;
  font-size: 14px;
}

.student-info select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #203a43;
  border-radius: 8px;
}

.student-info .buttons {
  display: flex;
  justify-content: space-between;
}

.student-info .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0f2027;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.student-info .buttons button:hover {
  background-color: #203a43;
}


/* Homepage */

#form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 600px; 
  text-align: center;
}

.title {
  margin-bottom: 5px;
}

.title h1 {
  color: #0f2027;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.upec img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  margin-top: 5px;

}

.title img.logo-image {
  width: 150px; 
  height: 50px; 
  margin-left: -5px;
}

.input-control {
  margin-bottom: 1px;
}

.input-control label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.input-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-control {
  margin-bottom: 2px;
  margin-left: 180px;
  font-size: 14px;
  text-align: center;
}

.login button {
  padding: 10px;
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.login button:hover {
  background: #005bb5;
}

.home-footer {
  margin-top: 40px;
  margin-bottom: 2px;
  text-align: center;
  color: #f9f1f1;
  font-size: 15px;
}


#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* STudent Image */
.student-picture-frame {
  width:200px;  
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  border: 2px solid #fff;
}

.student-picture-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ...//////////Student //////*/
.student-header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  background-image: url('./images/app.jpg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  opacity: 0.9; 
  z-index: -10; 


  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.studentlogout {
  color: white;
  font-size: 17px;
  padding: 10px;
  border-radius: 8px;
  background-color: #07638b;
  border: 1px solid #0f2027;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s;
  position: absolute;
  top: 70px;
  right: 160px;
}

.studentlogout:hover {
  background-color: #0056b3;
  color: white;
}